@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}
.banner{
    background-image:url(../assets/backgrounds/h_img.jpg);
    background-size: cover;
    height: 120vh;
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .logo img{
      padding: 20px;
  }
  .mouse img{
      margin-top: 30%;
  }

  /* about us */
  .para{
    font-size: 11px;
  }

  /* services */

  .banner2{
    background-image:url(../assets/backgrounds/s_image.jpg);
    background-size: cover;
    height: 40vh;
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    text-align: center;
}
.centered2 {
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centered2 >h2{
    text-transform: uppercase;
  }

/*     what we do section */
.dedevpro {
  width: 100%;
  padding-top: 3em;
}
.dedevpro >h3{
  font-weight: 700;
  font-size: 24px;
}

#detailsofdesign, #detailsofdevelopment, #detailsofproduct{
  display: none;
}

.row {
  margin-bottom: 10px;
}

.col-md-12 {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

.col-md-12 h6 {
  font-weight: bold;
}

  /* album section */
.album{
    width: 70%;
    margin: auto;
  }

.album >h3{
  font-weight: 700;
  font-size: 24px;
}


 /*the portfolio images text pop on hover */

.textover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid white;
  width: 150px;
  height: 120px;
  opacity: 0.6;
  background: rgb(54, 52, 49);
  text-align: left;
  text-transform: uppercase;
}

.paraover {
  display: none;
}


/* contact */
  .banner3{
    background-image:url(../assets/backgrounds/c_image.jpg);
    background-size: cover;
    height: 75vh;
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
    text-align: center;
  }
  .inputs{
      margin-left: 20%;
  }


/* name input box */
#nameinputbox{
  background: transparent;
  color: white;
  border: solid 1px #fff;
  width: 295px;
}
/* email input box */
  #emailinputbox{
    background: transparent;
    color: white;
    border: solid 1px #fff; 
    width: 295px;
  }
/* adding color to the place hoders, name and email */
.form-control::-webkit-input-placeholder {
  color: white;
}
/* message input box */
  #messageinputbox{
    background: transparent;
    color: white;
    border: solid 1px #fff;
    height: 200px; 
    width: 605px; 
    margin: auto;
    margin-right: 275px;      
  }

  #button {
    text-align: left;
    margin-left: 45%;
  }

/*------------social media section-----*/
 #social-media{
    padding: 50px 0;
}
.social-icons img{
    width: 50px;
    transition: 0.5s;
}
.social-icons a:hover img{
   transform: translateY(-10px);
}




